{extend name="Base/index" /} 
{block name='title'}
						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="{:url('index/index')}">首页</a>
							</li>

							<li>
								展示
							</li>
							<li class="active"><a href="{:url('banners/index')}">卖家信息</a></li>
						</ul><!-- .breadcrumb -->
{/block}
{block name='search'}{/block}
{block name='content'}
<link rel="stylesheet" href="__STATIC__/css/tinyImgUpload.css">
<style type="text/css">
	.bkb1 {
		position: relative;
		background: rgba(120,120,120,0.5);
		margin-right: 10px;
		z-index: 999;
		width: 200px;
		height: 200px;
		font-size: 22px;
		text-align: center;
	}
	.bkb2 {
		background:white;
		width: 30px;
		height: 30px;
		position:absolute;
		margin-left:160px;
		margin-top: 10px;
		border-radius:50%;
		cursor: pointer;
	}

</style>
<div class="page-content">
						<div class="page-header">
							<h1>
								展示
								<small>
									<i class="icon-double-angle-right"></i>
									修改卖家信息
								</small>
							</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->

								<form class="form-horizontal" role="form" enctype ="multipart/form-data" action="{:url('sellers/edit')}" method='post' id="oForm">
						       
								<input value="{$list.seller_id}" name="id" type="hidden">
								<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 店名 </label>
										<div class="col-sm-9">
											<input type="text"  class="col-xs-10 col-sm-5" name='name' value='{$list.name}'>
                                        <span ></span>
										</div>
								</div>
							    
								<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 联系电话 </label>
										<div class="col-sm-9">
											<input type="text"  class="col-xs-10 col-sm-5" name='phone' value='{$list.phone}'>
                                        <span ></span>
										</div>
								</div>
							    <div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 联系地址 </label>
										<div class="col-sm-9">
											<input type="text"  class="col-xs-10 col-sm-5" name='address' value='{$list.address}'>
                                        <span ></span>
										</div>
								</div>
							
                               <div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 营业时间 </label>
										<div class="col-sm-9">
											<input type="text"  class="col-xs-10 col-sm-5" name='b_hours' value='{$list.b_hours}'>
                                        <span ></span>
										</div>
								</div>
								<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 经度 </label>
										<div class="col-sm-9">
											<input type="text"  class="col-xs-10 col-sm-5" name='longitude' value='{$list.longitude}'>
                                        <span ></span>
										</div>
								</div>
								<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 纬度 </label>
										<div class="col-sm-9">
											<input type="text"  class="col-xs-10 col-sm-5" name='latitude' value='{$list.latitude}'>
                                        <span ></span>
										</div>
								</div>
								<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 微信号 </label>
										<div class="col-sm-9">
											<input type="text"  class="col-xs-10 col-sm-5" name='wechat' value='{$list.wechat}'>
                                        <span ></span>
										</div>
								</div>
								<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 兑换比(X:元) </label>
										<div class="col-sm-9">
											<input type="text"  class="col-xs-10 col-sm-5" name='integral_rule' value='{$list.integral_rule}'>
                                        <span ></span>
										</div>
								</div>
								<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 商铺介绍</label>
										<div class="col-sm-9">
											<textarea maxlength="255"  name="intro" style="height: 200px; padding:5px 10px;width: 520px;resize: none;" >{$list.intro}</textarea>
                                      	<span style="color:red;">温馨提示：店铺简介，请在255个字以内</span>
										</div>
								</div>
								<div class="space-4"></div>	
								<div class="clearfix form-actions">
									<div class="col-md-offset-3 col-md-9">
										<button class="btn btn-label" type="submit" id='dian'>
											<i class="icon-ok bigger-110"></i>
											提交
										</button>
										&nbsp; &nbsp; &nbsp;
										<a href="{:url('sellers/index')}">
										<button class="btn" id = 'button' type='button'>

											<i class="icon-undo bigger-110"></i>
											返回
										</button>
										</a>
										
									</div>
								</div>
							</form>
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div>
{/block}