{extend name="Base/index" /} 
{block name='search'}
<!-- <div class="nav-search" id="nav-search">
	<form class="form-search" id = 'form'>
		<span class="input-icon">
			<input type="text" placeholder="请输入 ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
			<i class="icon-search nav-search-icon"></i>
		</span>
	</form>
</div><!-- #nav-search --> 
{/block}
{block name='title'}
						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="{:url('index/index')}">首页</a>
							</li>

							<li>
								展示
							</li>
							<li class="active">卖家管理</li>
						</ul><!-- .breadcrumb -->
{/block}
{block name='content'}


<!--展示-->
			<div class="col-xs-12">

			<h3 class="header smaller lighter blue">卖家管理列表

			</h3>
		
											
												
																	
														
		
			<div class="table-responsive">
				<div id="sample-table-2_wrapper" class="dataTables_wrapper" role="grid">
			    <script src="__STATIC__/js/laydate/laydate.js"></script>
				<script>
				    laydate.render({
				        elem: '#create_time1' //指定元素
				    });
				    laydate.render({
				        elem: '#create_time2' //指定元素
				    });
				</script>	
                <div class="panel-heading">
						<form id="seek"  name= "seek" method = 'get'  action = "{:url('sellers/index')}">
							店名名 <input type="text" name="name">
							联系电话 <input type="text" name="phone">
							添加时间： <input type="text" id="create_time1" name="create_time1" placeholder="开始时间...">:<input type="text" name="create_time2" id="create_time2" placeholder="结束时间...">
							<button   type="submit">搜索</button>
						</form>
				</div>

				<table id="sample-table-2" class="table table-striped table-bordered table-hover dataTable" aria-describedby="sample-table-2_info">
					<thead>
						<tr role="row">
						<div id = 'xianshi'></div>

							<th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="Domain: activate to sort column ascending" style="width: 102px;"  id = 'xuanzhe'>
							<label class='quan'>
								<input type="checkbox" class="ace" id='selectAll' p='0' onclick=''>
								<span class="lbl" id='quanxuan' name='xuan'>(全选)</span>
							</label>
							</th>

							<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Domain: activate to sort column ascending" style="width: 244px;">ID</th>
							<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Price: activate to sort column ascending" style="width: 192px;">店名</th>
							<th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Clicks: activate to sort column ascending" style="width: 217px;">联系电话</th>
							
							<th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Clicks: activate to sort column ascending" style="width: 217px;">地址</th>
							<th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Clicks: activate to sort column ascending" style="width: 217px;">营业时间</th>
							<th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Clicks: activate to sort column ascending" style="width: 217px;">经纬度</th>
							<th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Clicks: activate to sort column ascending" style="width: 217px;">微信号</th>
							<th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Clicks: activate to sort column ascending" style="width: 217px;">兑换比(X:元)</th>
							
							<th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Clicks: activate to sort column ascending" style="width: 217px;">添加时间</th>
							<th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Clicks: activate to sort column ascending" style="width: 217px;">修改时间</th>
								<th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Clicks: activate to sort column ascending" style="width: 217px;">操作</th>
						
							</tr>
					</thead>

					
							<tbody role="alert" aria-live="polite" aria-relevant="all">
							{volist name='list' id="row"}
							<tr class="odd">
							<td class="center  sorting_1" >
								<label>
									<input type="checkbox" class="ace" name='subchk' value='{$row.seller_id}'>
									<span class="lbl"></span>
								</label>
							</td>
							<td class=" " style='algin:center'>
							   {$row.seller_id}
							</td>
							<td class=" " style='algin:center'>
							   {$row.name}
							</td>
							<td class="bian" >
								{$row.phone}
							</td>
						    <td class="bian" >
								{$row.address}
							</td>
							<td class="bian" >
								{$row.b_hours}
							</td>
							<td class="bian" >
								{$row.longitude}-{$row.latitude}
							</td>
							<td class="bian" >
								{$row.wechat}
							</td>
							<td class="bian" >
								{$row.integral_rule}
							</td>
							<td class="bian" >
							   {$row.create_time|date="Y-m-d H:i:s",###}
							</td>
			            	<td class="bian" >
							   {$row.update_time|date="Y-m-d H:i:s",###}
							</td>
							<td class=" ">
								<div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
									
									<a class="green" href="{:url('sellers/edit',array('id'=>$row['seller_id']))}">
										<i class="icon-pencil bigger-130"><font style = 'font-size:14px;'>编辑</font></i>
									</a>
									<a class="red "   href="javascript:if(confirm('确定删除吗?'))location='{:url('sellers/del',array('id'=>$row['seller_id'],'info'=>'apply'))}'">
                                        <i class="icon-zoom-in bigger-130">
                                            <font style="font-size:14px;">删除</font>
                                        </i>
                                    </a>
								</div>
								<div class="visible-xs visible-sm hidden-md hidden-lg">
									<div class="inline position-relative">
										<button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown">
											<i class="icon-caret-down icon-only bigger-120"></i>
										</button>

										<ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
										

											<li>
												<a href="{:url('sellers/edit',array('id'=>$row['seller_id']))}" class="tooltip-success" data-rel="tooltip" title="" data-original-title="Edit">
													<span class="green">
														<i class="icon-edit bigger-120"></i>
													</span>
												</a>
											</li>

											<li>
												<a href="{:url('sellers/del',array('id'=>$row['seller_id']))}" class="tooltip-error" data-rel="tooltip" title="" data-original-title="Delete">
													<span class="red" >
														<i class="icon-trash bigger-120"></i>
													</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</td>
						</tr>
					{/volist}

						</tbody></table>


  <div class="row">
   <div class="col-sm-6">
   		{$page}
    <div class="dataTables_info" id="sample-table-2_info">
  
    </div>
   </div>
   <div class="col-sm-6">
    <div class="dataTables_paginate paging_bootstrap" p='' id='fenye'>
   
   
    </div>
   </div>
  </div></div>
			</div>
			<div style='margin-top:15px;'>
		<a href="{:url('sellers/add')}">
				<button class="btn btn-info">添加卖家</button>
			</a>
			<a href="javascript:">
				<button class="btn btn-danger" id = 'delAll' p="{:url('sellers/delAll')}">批量删除</button>
			</a>
</div>
		</div>
<script src='__STATIC__/common/js/all.js'></script>

<script>
var chu;
$('.none').focus(function(){
	chu = $(this).val();
	$(this).css('border','1px solid #cdcdcd');
})
$('.none').blur(function(){

	$(this).css('border','none');

})
$('.bian').click(function(){
	$(this).children().focus();
})	
$('.none').change(function(){
	var p = $(this).attr('p');
	var zhi = $(this).val();
	$.post("{:url('sellers/ajax')}",{'id':p,'zhi':zhi},function(data){
		if(data == '1'){
			alert('已重复');
			$('#none'+p).val(chu);
		}else{
			$('#none'+p).val(zhi);
			window.location.reload();

		}
	})
})
</script>
		

<!-- <script>
	$('.red').click(function(){
		if(confirm('确定删除该图片吗？')){
			var p = $(this).attr('p');
			location.href=p;
		}
	})
	$('.chakan').mouseover(function(){
		var p = $(this).attr('p');
		$('#chakan'+p).css('position','absolute').css('z-index','3').css('height','150px');
	})
	$('.chakan').mouseout(function(){
		var p = $(this).attr('p');
		$('#chakan'+p).css('z-index','2');
		$('#chakan'+p).animate({
			'height':'20px',
		},1);
	})
</script> -->
	<script>
$(function(){
	$('#selectAll').bind('click',function(){
		if($(this).prop("checked")){
			$("input[type='checkbox']").not(this).prop("checked",true);
		}else{
			$("input[type='checkbox']").not(this).prop("checked",false);
		}
	});
});
</script>	
{/block}